<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.food">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".main.FoodRaterApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Food Rater"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Help"></activity>
        <activity android:name=".journal.JournalActivity" />
        <activity android:name=".journal.JournalListActivity" />
        <activity android:name=".registration.ProfileActivity" />
        <activity android:name=".registration.LoginActivity" />
        <activity android:name=".registration.SignUpActivity" />
        <activity android:name=".grocery.GroceryHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Home"/>
        </activity>
        <activity
            android:name=".notes.NewMealActivity"
            android:parentActivityName=".notes.MealActivity" />
        <activity
            android:name=".notes.MealActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.Splash"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Home"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>